.back{
	width:0.6rem;
	height:0.6rem;
	line-height:0.6rem;
	background-color:rgba(0,0,0,.2);
	color:rgba(255,255,255,.6);
	text-align:center;
	border-radius:50%;
	position:fixed;
	left:0.4rem;
	top:0.4rem;
}

